.Hamburger {
	display: block;
	height: 3rem;
	margin: 0.5rem;
	position: relative;
	width: 3rem;
}

.Hamburger:before {
	border-bottom: 0.075rem solid color(MineShaft);
	border-top: 0.075rem solid color(MineShaft);
	content: "";
	display: block;
	height: 29%;
	left: 25%;
	position: absolute;
	top: 35%;
	transition: all 0.3s ease-in-out;
	width: 50%;

  .isOpen & {
    background-color: color(MineShaft);
  	border: 0;
  	height: 2%;
  	top: 49%;
  	transform: rotateZ(-135deg);
  }
}

.Hamburger:after {
  background-color: color(MineShaft);
  content: '';
	display: block;
	height: 0.075rem;
	left: 27%;
	position: absolute;
	top: 50%;
	width: 46%;
  transition: all 0.3s ease-in-out;

  .isOpen & {
  	height: 2%;
  	left: 25%;
  	top: 49%;
  	transform: rotateZ(-45deg);
  	width: 50%;
  }
}

.Menu {
	background-color: color(White, 0.975);
	border-bottom: 1px solid color(Black, 0.1);
	border-top: 1px solid color(Black, 0.1);
	display: block;
	left: 100vw;
  pointer-events: none;
	position: absolute;
	top: 100%;
	width: 100vw;

  .isOpen & {
    left: 0;
    pointer-events: auto;
  }
}

.Menu ul {
  height: auto;
	list-style-type: none;
	margin: 0;
	padding: 0.5rem 0;
  text-align: center;

  @include min-width(tablet) {
    line-height: 4rem;
  	height: 4rem;
    padding: 0;
  }
}

.MenuItem {
  @include successive-delay(4, 0s, 0.1s);
  display: block;
	margin: 0;
  padding: 0.5rem 0;
	transition: transform 0.3s ease-in-out, opacity 0.25s ease-in-out;
  opacity: 0;
  transform: translateY(-0.75em);

  @include min-width(tablet) {
    display: inline-block;
  }

  .isOpen & {
    opacity: 1;
  	transform: translateY(0);
  }
}

$iconSize: 20px;

.MenuIcon {
  display: inline-block;
  line-height: $iconSize;
  height: $iconSize;
  margin-right: 0.25rem;
  width: $iconSize;
  vertical-align: middle;

  svg {
    height: auto;
    width: 100%;
  }
}

.Menu a,
.Menu a:visited
{
	color: color(MineShaft);
	display: inline-block;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	padding: 0 1em;
	text-decoration: inherit;
	transition: color 0.15s ease-in-out;
}

.Menu a:hover {
	color: color(Pelorous);
	text-decoration: none;
}
