$colors: (
  Alabaster : #f8f8f8,
  Alto      : #d9d9d9,
  Black     : #000000,
  Flamingo  : #f0563d,
  MineShaft : #333333,
  PaleSlate : #c4c4c4,
  Pelorous  : #39bfbf,
  Tundora   : #444444,
  White     : #ffffff,
);
