@mixin button($primary: true) {
  @include font(600);
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 12px;
  min-width: 120px;
  outline: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;

  @include min-width(tablet) {
    padding: 15px 30px;
  }

  @if $primary == true {
    background: linear-gradient(to right, color(Persimmon) 0%, color(Persimmon) 25%, color(SunsetOrange) 75%, color(SunsetOrange) 100%);
    color: color(White);
  }

  @if $primary != true {
    background-color: color(Isabelline);
    color: color(Gunmetal);
  }

  &:hover {
    text-decoration: none;
  }
}
