$colors: (
  Black:      #000000,
  Fiord:      #4c5c68,
  Pelorous:   #1985a1,
  White:      #ffffff,
  WhiteSmoke: #f8f8f8,
);

@function color($name, $rgba: false) {
  @if $rgba == false {
    @return map-get($colors, $name);
  } @else {
    @return rgba(map-get($colors, $name), $rgba);
  }
}
