.Root {
  padding: 20px;

  @include min-width(tablet) {
    padding: 100px;
  }
}

.Title {
  @include font(800);
  font-size: 30px;
  letter-spacing: 0.01em;
  text-align: center;
  // text-transform: uppercase;
}
