.HamburgerNav-Hamburger {
	display: inline-block;
	height: 4rem;
	margin: 0;
	width: 4rem;
}

.HamburgerNav-Hamburger {
	display: block;
	height: 3rem;
	margin: 0.5rem;
	width: 3rem;
}

.HamburgerNav-Hamburger {
	display: block;
	height: 3rem;
	margin: 0.5rem;
	position: relative;
	width: 3rem;
}

.HamburgerNav-Hamburger:before {
	border-bottom: 0.075rem solid #333333;
	border-top: 0.075rem solid #333333;
	content: "";
	display: block;
	height: 29%;
	left: 25%;
	position: absolute;
	top: 35%;
	transition: all 0.3s ease-in-out;
	width: 50%;
}

.HamburgerNav-isOpen .HamburgerNav-Hamburger:before {
	background-color: #333333;
	border: none;
	height: 2%;
	left: 25%;
	top: 49%;
	transform: rotateZ(-135deg);
	width: 50%;
}

.HamburgerNav-Hamburger:after {
  content: "";
	display: block;
	height: 0.075rem;
	left: 27%;
	position: absolute;
	top: 50%;
	width: 46%;
  background-color: #333333;
}

.HamburgerNav-isOpen .HamburgerNav-Hamburger:after {
	content: "";
	height: 2%;
	left: 25%;
	top: 49%;
	transform: rotateZ(-45deg);
	width: 50%;
}

.HamburgerNav-Menu {
	background-color: rgba(255, 255, 255, 0.975);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	display: block;
	left: 100vw;
  pointer-events: none;
	position: absolute;
	top: 100%;
	width: 100vw;
}

.HamburgerNav-isOpen .HamburgerNav-Menu {
  left: 0;
  pointer-events: auto;
}

.HamburgerNav-Menu ul {
	height: 4rem;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.HamburgerNav-Menu li {
	display: block;
	margin: 0;
	transition: transform 0.3s ease-in-out, opacity 0.25s ease-in-out;
  opacity: 0;
  transform: translateY(-0.75em);
}

.HamburgerNav-isOpen .HamburgerNav-Menu li {
	opacity: 1;
	transform: translateY(0);
}

.HamburgerNav-Menu li:nth-child(2) {
	transition-delay: 0.1s, 0.1s;
}

.HamburgerNav-Menu li:nth-child(3) {
	transition-delay: 0.2s, 0.2s;
}

.HamburgerNav-Menu li:nth-child(4) {
	transition-delay: 0.3s, 0.3s;
}

.HamburgerNav-Menu a,
.HamburgerNav-Menu a:visited
{
	color: #333333;
	display: inline-block;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	padding: 0 1em;
	text-decoration: inherit;
	transition: color 0.15s ease-in-out;
}

.HamburgerNav-Menu a:hover {
	color: #23A38F;
	text-decoration: none;
}
