.Header {
	background-color: rgba(255, 255, 255, 0.95);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	display: block;
	font-size: 1rem;
	height: 4em;
	left: 0;
	position: fixed;
	right: 0;
	text-align: left;
	top: 0;
	z-index: 50;
}

.Header .LogoWrapper {
	display: inline-block;
	height: 3rem;
	left: 50%;
	margin-left: -1.5rem;
	position: absolute;
	top: 0.5rem;
	width: 3rem;
	z-index: 1;
}

.Header.Header-isLarge .LogoWrapper {
	transform: translateY(2em) scale(2);
}

.Header .social a,
.Header .social a:visited
{
	text-align: center;

	margin: 0 .5em;
	padding: 0;
	width: 3rem;
}

.Header .HamburgerNavMenu ul {
	height: auto;
	padding: 2em 0;
}

.Header .HamburgerNavMenu a {
	font-size: 1.25em;
	font-weight: 300;

	display: block;
	padding: 0.5em 0;
	padding-left: 20%;
}

.Header .HamburgerNavMenu .fa {
	margin-right: 0.5em;
}
