.Root {
  border: 1px solid color(Isabelline);
  border-radius: 4px;
  counter-reset: player-list;
  width: 100%;
}

.Head {
  padding: 0 10px;

  > tr > th {
    @include font(600);
    border-bottom: 1px solid color(Isabelline);
    color: color(Gunmetal, 0.3);
    font-size: 12px;
    letter-spacing: 0.01em;
    padding: 10px;
    text-align: left;
    text-transform: uppercase;
  }
}

.Head .Number {
  @include max-width(tablet) {
    display: none;
  }
}

.Head .Winnings {
  text-align: right;
}
