<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    {% block meta %}{% endblock %}

    <title>{{ title }}</title>

    <link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,700" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:100,300italic,900" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic,700,700italic,900,900italic" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Playfair+Display:400|Playfair+Display+SC:400" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Abril+Fatface:400" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Frijole" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:700" />
    <link rel="stylesheet" type="text/css" href="/static/css/typography.css" />
    {% block css %}{% endblock %}

    <link href="/media/favicon.ico" rel="shortcut icon" />

    {% block javascript %}{% endblock %}
   
</head>

<body>

    {% spaceless %}
    <div id="think" class="showcase">
        <h1><span class="first-word">Think</span> <span class="last-word">Different</span></h1>
    </div>
    {% endspaceless %}



    <div id="right-words" class="showcase">
        <h1><span>One day I will find the <em>right words</em>, and they will be</span> <strong>simple</strong></h1>
        <cite>Jack Kerouac</cite>
    </div>



    <div id="pain" class="showcase">
        <h1><em>Pain</em> forges our humanity</h1>
        <cite>Steffani Cameron</cite>
    </div>



    <div id="mask" class="showcase">
        <img src="/media/typography/vmask.svg" />
        <h1>Man is least himself when he talks in his own person. Give him a mask and he will tell you the truth.<cite>Oscar Wilde</cite></h1>
    </div>

    
    <div id="create" class="showcase">
        <h1>
            <span class="char">C</span>
            <span class="char">R</span>
            <span class="char">E</span>
            <span class="char">A</span>
            <span class="char">T</span>
            <span class="char">E</span>
        </h1>
    </div>



    <div id="push" class="showcase">
        <h1>Don't <em>push</em> <strong>me</strong> and I won't <em>push</em> <strong>you</strong></h1>
        <cite>Malcolm Reynolds</cite>
    </div>



    <div id="courtney" class="showcase">
        <div class="message">
            <p>It will start to get cold for the first time on September 28, 2013</p>
            <time datetime="2013-02-21 08:32:00" class="date">February 21, 2013</time>
            <time datetime="2013-02-21 08:32:00" class="time">8:32</time>
        </div>
        <div class="sender">Courtney Allen</div>

        <div class="message">
            <p>So I guess I was wrong. About 18 days early.</p>
            <time class="date" datetime="2013-09-11 12:21:00">September 11, 2013</time>
            <time class="time" datetime="2013-09-11 12:21:00">12:21</time>
        </div>

        <div class="sender">Courtney Allen</div>
    </div>


</body>
</html>
