.Root {
  > line,
  > circle {
    fill: none;
    stroke: color(Fiord);
    stroke-width: 10;
  }

  > line {
    animation: line 0.5s ease-in-out 0.2s;
    stroke-dasharray: 150;
  }

  > circle {
    animation: circle 0.5s ease-in-out 0.2s;
    stroke-dasharray: 300;
  }
}

@keyframes line {
  0% {
    stroke-dashoffset: 150;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes circle {
  0% {
    stroke-dashoffset: 300;
  }

  100% {
    stroke-dashoffset: 0;
  }
}
