.Root {
	border-bottom: 1px solid color(Black, 0.1);
	display: block;
	padding: 3rem 1rem;

  @include min-width(tablet) {
    padding: 5rem 2rem;
  }
}


@include min-width(tablet) {
  .Container {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1250px;
  }
}

.Image {
  background-image: url('/assets/profile.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
  display: block;
  margin: 0 auto 3rem;
  height: 200px;
  width: 200px;


  @include min-width(tablet) {
    display: block;
    flex: 0 0 25%;
    height: auto;
    margin: 0;
    margin-right: 2rem;
    max-width: 250px;
    min-width: 150px;
    width: auto;
  }

  &:after {
    content: '';
    display: block;
    padding-top: 100%;
    width: 100%;
  }
}

.Info {
	padding: 0 1rem;

  @include min-width(tablet) {
    flex: 1 1 0;
    max-width: 600px;
  }
}

.Title {
	text-align: center;

  @include min-width(tablet) {
    text-align: left;
  }
}

.Text {
	color: color(Black, 0.6);
  text-align: left;

  @include min-width(tablet) {
    text-align: left;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}
