.Profile {
	border-bottom: 1px solid color(Black, 0.1);
	display: block;
	padding: 4em 0;

  @include min-width(tablet) {
    padding: 5rem 0;
  }

  &:after {
    clear: both;
    content: '';
    height: 0;
    width: 100%;
  }
}

.Image {
  background-image: url('/assets/profile.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	padding-top: 60%;
	width: 60%;

  @include min-width(tablet) {
    float: left;
    display: block;
    margin-top: 1.8rem;
    margin-left: 15%;
    margin-right: 5%;
    padding: 0;
    padding-top: 20%;
    width: 20%;
  }
}

.Info {
	margin-top: 2em;
	padding: 0 1em;

  @include min-width(tablet) {
    display: block;
    margin-right: 15%;
    margin-left: 40%;
    width: auto;
  }
}

.Title {
	text-align: center;

  @include min-width(tablet) {
    text-align: left;
  }
}

.Text {
	color: color(Black, 0.6);
}
