.Root {
  counter-increment: player-list;

  > td {
    @include font(600);
    color: color(Gunmetal);
    font-size: 12px;
    padding: 10px;

    @include min-width(tablet) {
      font-size: 14px;
      padding: 10px 20px;
    }

    > a,
    > a:visited,
    > a:hover {
      color: inherit;
      font-family: inherit;
      font-size: inherit;
      text-decoration: none;
    }
  }

  & + .Root > td {
    border-top: 1px solid color(Isabelline);
  }
}

.Number {
  text-align: center;
  width: 20px;

  @include max-width(tablet) {
    display: none;
  }

  &:before {
    content: counter(player-list) ".";
  }
}

$photoSize: 40px;

.PhotoCell {
  width: $photoSize;
}

.Photo {
  @include background-image;
  border-radius: 50%;
  display: block;
  flex: 0 0 auto;
  height: $photoSize;
  width: $photoSize;
}

.Winnings {
  text-align: right;
}
